<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment = "commonHead(title)">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title  th:text="${title}">SCT-后台系统</title>
	<link  th:href="@{/index/style/authority/main_css.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/index/style/authority/zTreeStyle.css}" rel="stylesheet" type="text/css" />
	<link  th:href="@{/index/style/table.css}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" th:href="@{/index/style/font-awesome/css/font-awesome.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui/themes/metro-gray/easyui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui/themes/icon.css}" />
</head>
</html>