<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<span th:fragment="commonOnLoadJs">
    <script type="text/javascript" th:src="@{/jquery-easyui/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/jquery-easyui/jquery.easyui.min.js}"></script>
	<script type="text/javascript" th:src="@{/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
	<script type="text/javascript" th:src="@{/index/scripts/zTree/jquery.ztree.core-3.2.js}"></script>
	<script type="text/javascript" th:src="@{/index/scripts/jquery.cookie.js}"></script>
	<script type="text/javascript" th:src="@{/index/scripts/index_sg.js}"></script>
	<script type="text/javascript" th:src="@{/index/scripts/request.ajax.js}"></script>
</span>
</html>