<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zhao.common.pojo.dao.ZmenuButtonModelMapper" >
	<resultMap id="BaseResultMap" type="org.zhao.common.pojo.model.ZmenuButtonModel" >
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="button_name" property="buttonName" jdbcType="VARCHAR" />
		<result column="power_key" property="powerKey" jdbcType="VARCHAR" />
		<result column="model_title" property="modelTitle" jdbcType="VARCHAR" />
		<result column="button_state" property="buttonState" jdbcType="VARCHAR" />
		<result column="button_function" property="buttonFunction" jdbcType="VARCHAR" />
		<result column="model_height" property="modelHeight" jdbcType="VARCHAR" />
		<result column="form_menu_id" property="formMenuId" jdbcType="VARCHAR" />
		<result column="orders" property="orders" jdbcType="VARCHAR" />
		<result column="model_url" property="modelUrl" jdbcType="VARCHAR" />
		<result column="model_width" property="modelWidth" jdbcType="VARCHAR" />
		<result column="icos" property="icos" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id,button_name,power_key,model_title,button_state,button_function,model_height,form_menu_id,orders,model_url,model_width,icos
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from R_MENU_BUTTON
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from R_MENU_BUTTON
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="org.zhao.common.pojo.model.ZmenuButtonModel" useGeneratedKeys="true" keyProperty="id">
		insert into R_MENU_BUTTON (id,button_name,power_key,model_title,button_state,button_function,model_height,form_menu_id,orders,model_url,model_width,icos)
		values (
			#{record.id,jdbcType=VARCHAR},
			#{record.buttonName,jdbcType=VARCHAR},
			#{record.powerKey,jdbcType=VARCHAR},
			#{record.modelTitle,jdbcType=VARCHAR},
			#{record.buttonState,jdbcType=VARCHAR},
			#{record.buttonFunction,jdbcType=VARCHAR},
			#{record.modelHeight,jdbcType=VARCHAR},
			#{record.formMenuId,jdbcType=VARCHAR},
			#{record.orders,jdbcType=VARCHAR},
			#{record.modelUrl,jdbcType=VARCHAR},
			#{record.modelWidth,jdbcType=VARCHAR},
			#{record.icos,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="org.zhao.common.pojo.model.ZmenuButtonModel" useGeneratedKeys="true" keyProperty="id">
		insert into R_MENU_BUTTON
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="record.id != null and record.id != '' ">
				id,
			</if>
			<if test="record.buttonName != null and record.buttonName != '' ">
				button_name,
			</if>
			<if test="record.powerKey != null and record.powerKey != '' ">
				power_key,
			</if>
			<if test="record.modelTitle != null and record.modelTitle != '' ">
				model_title,
			</if>
			<if test="record.buttonState != null and record.buttonState != '' ">
				button_state,
			</if>
			<if test="record.buttonFunction != null and record.buttonFunction != '' ">
				button_function,
			</if>
			<if test="record.modelHeight != null and record.modelHeight != '' ">
				model_height,
			</if>
			<if test="record.formMenuId != null and record.formMenuId != '' ">
				form_menu_id,
			</if>
			<if test="record.orders != null and record.orders != '' ">
				orders,
			</if>
			<if test="record.modelUrl != null and record.modelUrl != '' ">
				model_url,
			</if>
			<if test="record.modelWidth != null and record.modelWidth != '' ">
				model_width,
			</if>
			<if test="record.icos != null and record.icos != '' ">
				icos,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="record.id != null and record.id != '' ">
				#{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.buttonName != null and record.buttonName != '' ">
				#{record.buttonName,jdbcType=VARCHAR},
			</if>
			<if test="record.powerKey != null and record.powerKey != '' ">
				#{record.powerKey,jdbcType=VARCHAR},
			</if>
			<if test="record.modelTitle != null and record.modelTitle != '' ">
				#{record.modelTitle,jdbcType=VARCHAR},
			</if>
			<if test="record.buttonState != null and record.buttonState != '' ">
				#{record.buttonState,jdbcType=VARCHAR},
			</if>
			<if test="record.buttonFunction != null and record.buttonFunction != '' ">
				#{record.buttonFunction,jdbcType=VARCHAR},
			</if>
			<if test="record.modelHeight != null and record.modelHeight != '' ">
				#{record.modelHeight,jdbcType=VARCHAR},
			</if>
			<if test="record.formMenuId != null and record.formMenuId != '' ">
				#{record.formMenuId,jdbcType=VARCHAR},
			</if>
			<if test="record.orders != null and record.orders != '' ">
				#{record.orders,jdbcType=VARCHAR},
			</if>
			<if test="record.modelUrl != null and record.modelUrl != '' ">
				#{record.modelUrl,jdbcType=VARCHAR},
			</if>
			<if test="record.modelWidth != null and record.modelWidth != '' ">
				#{record.modelWidth,jdbcType=VARCHAR},
			</if>
			<if test="record.icos != null and record.icos != '' ">
				#{record.icos,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="org.zhao.common.pojo.model.ZmenuButtonModel">
		update R_MENU_BUTTON
		<set>
			<if test="record.buttonName != null and record.buttonName != '' ">
				button_name = #{record.buttonName,jdbcType=VARCHAR},
			</if>
			<if test="record.powerKey != null and record.powerKey != '' ">
				power_key = #{record.powerKey,jdbcType=VARCHAR},
			</if>
			<if test="record.modelTitle != null and record.modelTitle != '' ">
				model_title = #{record.modelTitle,jdbcType=VARCHAR},
			</if>
			<if test="record.buttonState != null and record.buttonState != '' ">
				button_state = #{record.buttonState,jdbcType=VARCHAR},
			</if>
			<if test="record.buttonFunction != null and record.buttonFunction != '' ">
				button_function = #{record.buttonFunction,jdbcType=VARCHAR},
			</if>
			<if test="record.modelHeight != null and record.modelHeight != '' ">
				model_height = #{record.modelHeight,jdbcType=VARCHAR},
			</if>
			<if test="record.formMenuId != null and record.formMenuId != '' ">
				form_menu_id = #{record.formMenuId,jdbcType=VARCHAR},
			</if>
			<if test="record.orders != null and record.orders != '' ">
				orders = #{record.orders,jdbcType=VARCHAR},
			</if>
			<if test="record.modelUrl != null and record.modelUrl != '' ">
				model_url = #{record.modelUrl,jdbcType=VARCHAR},
			</if>
			<if test="record.modelWidth != null and record.modelWidth != '' ">
				model_width = #{record.modelWidth,jdbcType=VARCHAR},
			</if>
			<if test="record.icos != null and record.icos != '' ">
				icos = #{record.icos,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{record.id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.zhao.common.pojo.model.ZmenuButtonModel">
		update R_MENU_BUTTON
		set
		button_name = #{record.buttonName,jdbcType=VARCHAR}
		power_key = #{record.powerKey,jdbcType=VARCHAR}
		model_title = #{record.modelTitle,jdbcType=VARCHAR}
		button_state = #{record.buttonState,jdbcType=VARCHAR}
		button_function = #{record.buttonFunction,jdbcType=VARCHAR}
		model_height = #{record.modelHeight,jdbcType=VARCHAR}
		form_menu_id = #{record.formMenuId,jdbcType=VARCHAR}
		orders = #{record.orders,jdbcType=VARCHAR}
		model_url = #{record.modelUrl,jdbcType=VARCHAR}
		model_width = #{record.modelWidth,jdbcType=VARCHAR}
		icos = #{record.icos,jdbcType=VARCHAR}
		where id = #{record.id,jdbcType=VARCHAR}
	</update>
	<select id="selectPageListByParameters" resultMap="BaseResultMap">
		select * from R_MENU_BUTTON where 1 = 1
		<if test="record.id != null and record.id != '' ">
			and id = #{record.id,jdbcType=VARCHAR}
		</if>
		<if test="record.buttonName != null and record.buttonName != '' ">
			and button_name = #{record.buttonName,jdbcType=VARCHAR}
		</if>
		<if test="record.powerKey != null and record.powerKey != '' ">
			and power_key = #{record.powerKey,jdbcType=VARCHAR}
		</if>
		<if test="record.modelTitle != null and record.modelTitle != '' ">
			and model_title = #{record.modelTitle,jdbcType=VARCHAR}
		</if>
		<if test="record.buttonState != null and record.buttonState != '' ">
			and button_state = #{record.buttonState,jdbcType=VARCHAR}
		</if>
		<if test="record.buttonFunction != null and record.buttonFunction != '' ">
			and button_function = #{record.buttonFunction,jdbcType=VARCHAR}
		</if>
		<if test="record.modelHeight != null and record.modelHeight != '' ">
			and model_height = #{record.modelHeight,jdbcType=VARCHAR}
		</if>
		<if test="record.formMenuId != null and record.formMenuId != '' ">
			and form_menu_id = #{record.formMenuId,jdbcType=VARCHAR}
		</if>
		<if test="record.orders != null and record.orders != '' ">
			and orders = #{record.orders,jdbcType=VARCHAR}
		</if>
		<if test="record.modelUrl != null and record.modelUrl != '' ">
			and model_url = #{record.modelUrl,jdbcType=VARCHAR}
		</if>
		<if test="record.modelWidth != null and record.modelWidth != '' ">
			and model_width = #{record.modelWidth,jdbcType=VARCHAR}
		</if>
		<if test="record.icos != null and record.icos != '' ">
			and icos = #{record.icos,jdbcType=VARCHAR}
		</if>
		<if test=" page != null ">
			<if test=" page.order != null  and page.order != '' ">
				order by ${page.order } ${page.orderBy}
			</if>
			<if test=" page.start  != null  and page.count  != null ">
				limit #{page.start } , #{page.count }
			</if>
		</if>
	</select>
	<select id="selectPageListByParametersCount" parameterType="org.zhao.common.pojo.model.ZmenuButtonModel" resultType="java.lang.Integer">
		select count(*) from R_MENU_BUTTON where 1 = 1
		<if test="record.id != null and record.id != '' ">
			and id = #{record.id,jdbcType=VARCHAR}
		</if>
		<if test="record.buttonName != null and record.buttonName != '' ">
			and button_name = #{record.buttonName,jdbcType=VARCHAR}
		</if>
		<if test="record.powerKey != null and record.powerKey != '' ">
			and power_key = #{record.powerKey,jdbcType=VARCHAR}
		</if>
		<if test="record.modelTitle != null and record.modelTitle != '' ">
			and model_title = #{record.modelTitle,jdbcType=VARCHAR}
		</if>
		<if test="record.buttonState != null and record.buttonState != '' ">
			and button_state = #{record.buttonState,jdbcType=VARCHAR}
		</if>
		<if test="record.buttonFunction != null and record.buttonFunction != '' ">
			and button_function = #{record.buttonFunction,jdbcType=VARCHAR}
		</if>
		<if test="record.modelHeight != null and record.modelHeight != '' ">
			and model_height = #{record.modelHeight,jdbcType=VARCHAR}
		</if>
		<if test="record.formMenuId != null and record.formMenuId != '' ">
			and form_menu_id = #{record.formMenuId,jdbcType=VARCHAR}
		</if>
		<if test="record.orders != null and record.orders != '' ">
			and orders = #{record.orders,jdbcType=VARCHAR}
		</if>
		<if test="record.modelUrl != null and record.modelUrl != '' ">
			and model_url = #{record.modelUrl,jdbcType=VARCHAR}
		</if>
		<if test="record.modelWidth != null and record.modelWidth != '' ">
			and model_width = #{record.modelWidth,jdbcType=VARCHAR}
		</if>
		<if test="record.icos != null and record.icos != '' ">
			and icos = #{record.icos,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectPageListByParameterRequire" resultMap="BaseResultMap">
		select * from R_MENU_BUTTON where 1 = 1
		<if test="require.id != null">
			<if test="require.id.greaterThan != null">
					and id > #{require.id.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.id.lessThan != null">
					and id &lt; #{require.id.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.id.greaterThanAndEquals != null">
					and id >= #{require.id.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.id.lessThanAndEquals != null">
					and id &lt;= #{require.id.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.id.notEquality != null">
					and id &lt;> #{require.id.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.id.equality != null">
					and id = #{require.id.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.id.similar != null">
					and INSTR(id, #{require.id.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.buttonName != null">
			<if test="require.buttonName.greaterThan != null">
					and button_name > #{require.buttonName.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonName.lessThan != null">
					and button_name &lt; #{require.buttonName.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonName.greaterThanAndEquals != null">
					and button_name >= #{require.buttonName.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonName.lessThanAndEquals != null">
					and button_name &lt;= #{require.buttonName.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonName.notEquality != null">
					and button_name &lt;> #{require.buttonName.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonName.equality != null">
					and button_name = #{require.buttonName.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonName.similar != null">
					and INSTR(button_name, #{require.buttonName.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.powerKey != null">
			<if test="require.powerKey.greaterThan != null">
					and power_key > #{require.powerKey.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.powerKey.lessThan != null">
					and power_key &lt; #{require.powerKey.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.powerKey.greaterThanAndEquals != null">
					and power_key >= #{require.powerKey.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.powerKey.lessThanAndEquals != null">
					and power_key &lt;= #{require.powerKey.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.powerKey.notEquality != null">
					and power_key &lt;> #{require.powerKey.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.powerKey.equality != null">
					and power_key = #{require.powerKey.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.powerKey.similar != null">
					and INSTR(power_key, #{require.powerKey.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.modelTitle != null">
			<if test="require.modelTitle.greaterThan != null">
					and model_title > #{require.modelTitle.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelTitle.lessThan != null">
					and model_title &lt; #{require.modelTitle.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelTitle.greaterThanAndEquals != null">
					and model_title >= #{require.modelTitle.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelTitle.lessThanAndEquals != null">
					and model_title &lt;= #{require.modelTitle.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelTitle.notEquality != null">
					and model_title &lt;> #{require.modelTitle.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelTitle.equality != null">
					and model_title = #{require.modelTitle.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelTitle.similar != null">
					and INSTR(model_title, #{require.modelTitle.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.buttonState != null">
			<if test="require.buttonState.greaterThan != null">
					and button_state > #{require.buttonState.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonState.lessThan != null">
					and button_state &lt; #{require.buttonState.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonState.greaterThanAndEquals != null">
					and button_state >= #{require.buttonState.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonState.lessThanAndEquals != null">
					and button_state &lt;= #{require.buttonState.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonState.notEquality != null">
					and button_state &lt;> #{require.buttonState.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonState.equality != null">
					and button_state = #{require.buttonState.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonState.similar != null">
					and INSTR(button_state, #{require.buttonState.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.buttonFunction != null">
			<if test="require.buttonFunction.greaterThan != null">
					and button_function > #{require.buttonFunction.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonFunction.lessThan != null">
					and button_function &lt; #{require.buttonFunction.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonFunction.greaterThanAndEquals != null">
					and button_function >= #{require.buttonFunction.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonFunction.lessThanAndEquals != null">
					and button_function &lt;= #{require.buttonFunction.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonFunction.notEquality != null">
					and button_function &lt;> #{require.buttonFunction.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonFunction.equality != null">
					and button_function = #{require.buttonFunction.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonFunction.similar != null">
					and INSTR(button_function, #{require.buttonFunction.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.modelHeight != null">
			<if test="require.modelHeight.greaterThan != null">
					and model_height > #{require.modelHeight.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelHeight.lessThan != null">
					and model_height &lt; #{require.modelHeight.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelHeight.greaterThanAndEquals != null">
					and model_height >= #{require.modelHeight.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelHeight.lessThanAndEquals != null">
					and model_height &lt;= #{require.modelHeight.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelHeight.notEquality != null">
					and model_height &lt;> #{require.modelHeight.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelHeight.equality != null">
					and model_height = #{require.modelHeight.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelHeight.similar != null">
					and INSTR(model_height, #{require.modelHeight.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.formMenuId != null">
			<if test="require.formMenuId.greaterThan != null">
					and form_menu_id > #{require.formMenuId.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.formMenuId.lessThan != null">
					and form_menu_id &lt; #{require.formMenuId.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.formMenuId.greaterThanAndEquals != null">
					and form_menu_id >= #{require.formMenuId.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.formMenuId.lessThanAndEquals != null">
					and form_menu_id &lt;= #{require.formMenuId.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.formMenuId.notEquality != null">
					and form_menu_id &lt;> #{require.formMenuId.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.formMenuId.equality != null">
					and form_menu_id = #{require.formMenuId.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.formMenuId.similar != null">
					and INSTR(form_menu_id, #{require.formMenuId.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.orders != null">
			<if test="require.orders.greaterThan != null">
					and orders > #{require.orders.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.orders.lessThan != null">
					and orders &lt; #{require.orders.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.orders.greaterThanAndEquals != null">
					and orders >= #{require.orders.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.orders.lessThanAndEquals != null">
					and orders &lt;= #{require.orders.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.orders.notEquality != null">
					and orders &lt;> #{require.orders.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.orders.equality != null">
					and orders = #{require.orders.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.orders.similar != null">
					and INSTR(orders, #{require.orders.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.modelUrl != null">
			<if test="require.modelUrl.greaterThan != null">
					and model_url > #{require.modelUrl.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelUrl.lessThan != null">
					and model_url &lt; #{require.modelUrl.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelUrl.greaterThanAndEquals != null">
					and model_url >= #{require.modelUrl.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelUrl.lessThanAndEquals != null">
					and model_url &lt;= #{require.modelUrl.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelUrl.notEquality != null">
					and model_url &lt;> #{require.modelUrl.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelUrl.equality != null">
					and model_url = #{require.modelUrl.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelUrl.similar != null">
					and INSTR(model_url, #{require.modelUrl.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.modelWidth != null">
			<if test="require.modelWidth.greaterThan != null">
					and model_width > #{require.modelWidth.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelWidth.lessThan != null">
					and model_width &lt; #{require.modelWidth.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelWidth.greaterThanAndEquals != null">
					and model_width >= #{require.modelWidth.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelWidth.lessThanAndEquals != null">
					and model_width &lt;= #{require.modelWidth.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelWidth.notEquality != null">
					and model_width &lt;> #{require.modelWidth.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelWidth.equality != null">
					and model_width = #{require.modelWidth.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelWidth.similar != null">
					and INSTR(model_width, #{require.modelWidth.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.icos != null">
			<if test="require.icos.greaterThan != null">
					and icos > #{require.icos.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.icos.lessThan != null">
					and icos &lt; #{require.icos.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.icos.greaterThanAndEquals != null">
					and icos >= #{require.icos.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.icos.lessThanAndEquals != null">
					and icos &lt;= #{require.icos.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.icos.notEquality != null">
					and icos &lt;> #{require.icos.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.icos.equality != null">
					and icos = #{require.icos.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.icos.similar != null">
					and INSTR(icos, #{require.icos.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test=" page != null ">
			<if test=" page.order != null  and page.order != '' ">
				order by ${page.order } ${page.orderBy}
			</if>
			<if test=" page.start  != null  and page.count  != null ">
				limit #{page.start } , #{page.count }
			</if>
		</if>
	</select>
	<select id="selectPageListByParameterRequireCount" parameterType="org.zhao.common.pojo.model.ZmenuButtonModel" resultType="java.lang.Integer">
		select count(*) from R_MENU_BUTTON where 1 = 1
		<if test="require.id != null">
			<if test="require.id.greaterThan != null">
					and id > #{require.id.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.id.lessThan != null">
					and id &lt; #{require.id.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.id.greaterThanAndEquals != null">
					and id >= #{require.id.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.id.lessThanAndEquals != null">
					and id &lt;= #{require.id.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.id.notEquality != null">
					and id &lt;> #{require.id.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.id.equality != null">
					and id = #{require.id.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.id.similar != null">
					and INSTR(id, #{require.id.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.buttonName != null">
			<if test="require.buttonName.greaterThan != null">
					and button_name > #{require.buttonName.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonName.lessThan != null">
					and button_name &lt; #{require.buttonName.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonName.greaterThanAndEquals != null">
					and button_name >= #{require.buttonName.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonName.lessThanAndEquals != null">
					and button_name &lt;= #{require.buttonName.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonName.notEquality != null">
					and button_name &lt;> #{require.buttonName.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonName.equality != null">
					and button_name = #{require.buttonName.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonName.similar != null">
					and INSTR(button_name, #{require.buttonName.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.powerKey != null">
			<if test="require.powerKey.greaterThan != null">
					and power_key > #{require.powerKey.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.powerKey.lessThan != null">
					and power_key &lt; #{require.powerKey.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.powerKey.greaterThanAndEquals != null">
					and power_key >= #{require.powerKey.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.powerKey.lessThanAndEquals != null">
					and power_key &lt;= #{require.powerKey.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.powerKey.notEquality != null">
					and power_key &lt;> #{require.powerKey.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.powerKey.equality != null">
					and power_key = #{require.powerKey.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.powerKey.similar != null">
					and INSTR(power_key, #{require.powerKey.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.modelTitle != null">
			<if test="require.modelTitle.greaterThan != null">
					and model_title > #{require.modelTitle.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelTitle.lessThan != null">
					and model_title &lt; #{require.modelTitle.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelTitle.greaterThanAndEquals != null">
					and model_title >= #{require.modelTitle.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelTitle.lessThanAndEquals != null">
					and model_title &lt;= #{require.modelTitle.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelTitle.notEquality != null">
					and model_title &lt;> #{require.modelTitle.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelTitle.equality != null">
					and model_title = #{require.modelTitle.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelTitle.similar != null">
					and INSTR(model_title, #{require.modelTitle.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.buttonState != null">
			<if test="require.buttonState.greaterThan != null">
					and button_state > #{require.buttonState.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonState.lessThan != null">
					and button_state &lt; #{require.buttonState.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonState.greaterThanAndEquals != null">
					and button_state >= #{require.buttonState.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonState.lessThanAndEquals != null">
					and button_state &lt;= #{require.buttonState.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonState.notEquality != null">
					and button_state &lt;> #{require.buttonState.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonState.equality != null">
					and button_state = #{require.buttonState.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonState.similar != null">
					and INSTR(button_state, #{require.buttonState.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.buttonFunction != null">
			<if test="require.buttonFunction.greaterThan != null">
					and button_function > #{require.buttonFunction.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonFunction.lessThan != null">
					and button_function &lt; #{require.buttonFunction.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonFunction.greaterThanAndEquals != null">
					and button_function >= #{require.buttonFunction.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonFunction.lessThanAndEquals != null">
					and button_function &lt;= #{require.buttonFunction.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonFunction.notEquality != null">
					and button_function &lt;> #{require.buttonFunction.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonFunction.equality != null">
					and button_function = #{require.buttonFunction.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.buttonFunction.similar != null">
					and INSTR(button_function, #{require.buttonFunction.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.modelHeight != null">
			<if test="require.modelHeight.greaterThan != null">
					and model_height > #{require.modelHeight.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelHeight.lessThan != null">
					and model_height &lt; #{require.modelHeight.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelHeight.greaterThanAndEquals != null">
					and model_height >= #{require.modelHeight.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelHeight.lessThanAndEquals != null">
					and model_height &lt;= #{require.modelHeight.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelHeight.notEquality != null">
					and model_height &lt;> #{require.modelHeight.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelHeight.equality != null">
					and model_height = #{require.modelHeight.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelHeight.similar != null">
					and INSTR(model_height, #{require.modelHeight.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.formMenuId != null">
			<if test="require.formMenuId.greaterThan != null">
					and form_menu_id > #{require.formMenuId.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.formMenuId.lessThan != null">
					and form_menu_id &lt; #{require.formMenuId.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.formMenuId.greaterThanAndEquals != null">
					and form_menu_id >= #{require.formMenuId.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.formMenuId.lessThanAndEquals != null">
					and form_menu_id &lt;= #{require.formMenuId.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.formMenuId.notEquality != null">
					and form_menu_id &lt;> #{require.formMenuId.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.formMenuId.equality != null">
					and form_menu_id = #{require.formMenuId.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.formMenuId.similar != null">
					and INSTR(form_menu_id, #{require.formMenuId.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.orders != null">
			<if test="require.orders.greaterThan != null">
					and orders > #{require.orders.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.orders.lessThan != null">
					and orders &lt; #{require.orders.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.orders.greaterThanAndEquals != null">
					and orders >= #{require.orders.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.orders.lessThanAndEquals != null">
					and orders &lt;= #{require.orders.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.orders.notEquality != null">
					and orders &lt;> #{require.orders.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.orders.equality != null">
					and orders = #{require.orders.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.orders.similar != null">
					and INSTR(orders, #{require.orders.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.modelUrl != null">
			<if test="require.modelUrl.greaterThan != null">
					and model_url > #{require.modelUrl.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelUrl.lessThan != null">
					and model_url &lt; #{require.modelUrl.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelUrl.greaterThanAndEquals != null">
					and model_url >= #{require.modelUrl.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelUrl.lessThanAndEquals != null">
					and model_url &lt;= #{require.modelUrl.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelUrl.notEquality != null">
					and model_url &lt;> #{require.modelUrl.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelUrl.equality != null">
					and model_url = #{require.modelUrl.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelUrl.similar != null">
					and INSTR(model_url, #{require.modelUrl.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.modelWidth != null">
			<if test="require.modelWidth.greaterThan != null">
					and model_width > #{require.modelWidth.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelWidth.lessThan != null">
					and model_width &lt; #{require.modelWidth.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelWidth.greaterThanAndEquals != null">
					and model_width >= #{require.modelWidth.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelWidth.lessThanAndEquals != null">
					and model_width &lt;= #{require.modelWidth.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelWidth.notEquality != null">
					and model_width &lt;> #{require.modelWidth.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelWidth.equality != null">
					and model_width = #{require.modelWidth.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.modelWidth.similar != null">
					and INSTR(model_width, #{require.modelWidth.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
		<if test="require.icos != null">
			<if test="require.icos.greaterThan != null">
					and icos > #{require.icos.greaterThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.icos.lessThan != null">
					and icos &lt; #{require.icos.lessThan , jdbcType=VARCHAR }
		    </if>
			<if test="require.icos.greaterThanAndEquals != null">
					and icos >= #{require.icos.greaterThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.icos.lessThanAndEquals != null">
					and icos &lt;= #{require.icos.lessThanAndEquals , jdbcType=VARCHAR }
		    </if>
			<if test="require.icos.notEquality != null">
					and icos &lt;> #{require.icos.notEquality , jdbcType=VARCHAR }
		    </if>
			<if test="require.icos.equality != null">
					and icos = #{require.icos.equality , jdbcType=VARCHAR }
		    </if>
			<if test="require.icos.similar != null">
					and INSTR(icos, #{require.icos.similar , jdbcType=VARCHAR }) >0 
		    </if>
		</if>
	</select>
	<insert id="batchCreate" parameterType="java.util.List">
		insert into R_MENU_BUTTON (
		id,button_name,power_key,model_title,button_state,button_function,model_height,form_menu_id,orders,model_url,model_width,icos
		) values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			#{item.id,jdbcType=VARCHAR},
			#{item.buttonName,jdbcType=VARCHAR},
			#{item.powerKey,jdbcType=VARCHAR},
			#{item.modelTitle,jdbcType=VARCHAR},
			#{item.buttonState,jdbcType=VARCHAR},
			#{item.buttonFunction,jdbcType=VARCHAR},
			#{item.modelHeight,jdbcType=VARCHAR},
			#{item.formMenuId,jdbcType=VARCHAR},
			#{item.orders,jdbcType=VARCHAR},
			#{item.modelUrl,jdbcType=VARCHAR},
			#{item.modelWidth,jdbcType=VARCHAR},
			#{item.icos,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>
	<delete id="deleteByParames" parameterType="org.zhao.common.pojo.model.ZmenuButtonModel">
		delete from R_MENU_BUTTON where 1 = 1
		<if test="record.id != null and record.id != '' ">
			and id = #{record.id,jdbcType=VARCHAR}
		</if>
		<if test="record.buttonName != null and record.buttonName != '' ">
			and button_name = #{record.buttonName,jdbcType=VARCHAR}
		</if>
		<if test="record.powerKey != null and record.powerKey != '' ">
			and power_key = #{record.powerKey,jdbcType=VARCHAR}
		</if>
		<if test="record.modelTitle != null and record.modelTitle != '' ">
			and model_title = #{record.modelTitle,jdbcType=VARCHAR}
		</if>
		<if test="record.buttonState != null and record.buttonState != '' ">
			and button_state = #{record.buttonState,jdbcType=VARCHAR}
		</if>
		<if test="record.buttonFunction != null and record.buttonFunction != '' ">
			and button_function = #{record.buttonFunction,jdbcType=VARCHAR}
		</if>
		<if test="record.modelHeight != null and record.modelHeight != '' ">
			and model_height = #{record.modelHeight,jdbcType=VARCHAR}
		</if>
		<if test="record.formMenuId != null and record.formMenuId != '' ">
			and form_menu_id = #{record.formMenuId,jdbcType=VARCHAR}
		</if>
		<if test="record.orders != null and record.orders != '' ">
			and orders = #{record.orders,jdbcType=VARCHAR}
		</if>
		<if test="record.modelUrl != null and record.modelUrl != '' ">
			and model_url = #{record.modelUrl,jdbcType=VARCHAR}
		</if>
		<if test="record.modelWidth != null and record.modelWidth != '' ">
			and model_width = #{record.modelWidth,jdbcType=VARCHAR}
		</if>
		<if test="record.icos != null and record.icos != '' ">
			and icos = #{record.icos,jdbcType=VARCHAR}
		</if>
	</delete>
</mapper>